.event-card {
	max-width: 20rem;
	cursor: pointer;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.modal-container .event-card {
	max-width: 100%;
	box-shadow: none;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.modal-container .description-wrap {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.modal-container .description {
	overflow-y: scroll;
}

.modal-container .event-card-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}
