@tailwind base;

@tailwind components;

@tailwind utilities;



.events-grid {
	grid-column-gap: 15px;
  	grid-row-gap: 15px;
	display: grid;
	/* grid-template-columns: repeat(2, auto [col-start]); */
	justify-content: space-evenly;
}
@media (min-width: 768px) {
	.events-grid {
		display: grid;
		grid-template-columns: repeat(2, auto [col-start]);
		justify-content: space-evenly;
	}
}

@media (min-width: 1024px)  {
	.events-grid {
		display: grid;
		grid-template-columns: repeat(3, auto [col-start]);
		justify-content: space-evenly;
	}
}